.jsgrounded {
  display: flex;
  font-family: monospace;
}

.jsground-container {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 0;
}

.jsground-topbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: black;
  padding: 2px;
}

.jsground-topbar button {
  font-variant: small-caps;
  font-weight: bold;
}
